* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: white;
}

:root {
  --darkred: rgb(158, 5, 36);
  --red: #e22b3a;
  --lightred: #fd8383;
  --grey: #222222;
  --lightgrey: #2e2e2e;
  --darkgrey: rgb(22, 22, 22);
  --white: white;
  --darkwhite: #d8d8d8f2;
  --lightgreen: rgb(136, 243, 136);
  --darkgreen: green;
}

/* header */

.nav_main_div {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000000;
  border-bottom: double red 5px;
}

.nav_left_div {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_left_div img {
  height: 100%;
}

.nav_search {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_bar[type="text"] {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border: var(--red) solid 2px;
  transition: 0.2s;
}

.nav_bar[type="text"]:focus {
  background-color: var(--red);
  color: white;
}
.nav_bar[type="text"]:hover {
  border: var(--red) solid 4px;
}

.nav_right_div {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_right_div a button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #222222;
  border: none;
  font-size: 20px;
  transition: 0.5s;
  font-weight: bolder;
  border-radius: 14px;
}
.nav_right_div a {
  width: 120px;
  height: 100%;
  transition: 0.5s;
}

.nav_right_div a :hover {
  color: var(--red);
  border: solid 1px red;
}

.nav_space {
  width: 100%;
  height: 70px;
}

/* pages */

/* main page */

.base_main_div {
  width: 100%;
  height: 800px;
  background-image: url(../img/Dragon\ Shushi.png);
  background-size: cover;
}

.main_left_div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main_left_upper_div {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper_txt {
  position: relative;
  top: 40px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up_top {
  color: black;
  font-family: "Finger Paint", cursive;
  font-size: 50px;
}

.up_down {
  font-family: "Bebas Neue", cursive;
  color: red;
  font-size: 90px;
}

.main_left_downer_div {
  width: 100%;
  height: 50%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downer_txt {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downer_p {
  color: black;
  font-family: "Finger Paint", cursive;
  font-size: 18px;
}

.main_right_div {
  width: 40%;
  height: 100%;
}

/* menu page */

.base_menu_div {
  width: 100%;
  height: auto;
  background-image: url(../img/Dragon\ menu.png);
  background-size: 100%;
}

.menu_top_div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.menu_top_div p {
  color: black;
  font-size: 100px;
  font-weight: 900;
  font-family: "Finger Paint", cursive;
}

.menu_div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.menu_card_div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.card_title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #222222;
}

.card_title p {
  color: white;
  font-size: 40px;
  font-weight: 800;
}

.card_items {
  width: 100%;
  height: auto;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu_item {
  width: 300px;
  height: 430px;
  margin: 10px;
  background-image: url(../img/dark-stone-surface-2.jpg);
  background-size: cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item_picture {
  width: 95%;
  height: 150px;
}

.item_picture img {
  width: 100%;
  border-radius: 10px;
}

.item_title {
  width: 95%;
  height: 30px;
}

.item_title p {
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.item_description {
  width: 95%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_description p {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.item_cost {
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.item_add_butn {
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  border-radius: 100%;
  transition: 0.1s ease-in;
}

.item_add_butn:hover {
  cursor: pointer;
  background-color: rgb(41, 226, 57);
  color: white;
}

/* contact page */
.base_contact_div {
  width: 100%;
  height: 1000px;
  background-image: url(../img/Dragon\ contact.png);
  background-size: 100%;
}

/* footer */

.footer_hr {
  width: 150px;
}

.foot_main_div {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
}

.footer_middle_div {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
}

.footer_list {
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.footer_list li {
  background-color: transparent;
  color: white;
}

.footer_list li:hover {
  color: var(--red);
  cursor: pointer;
  font-style: bold;
}
