* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  resize: none;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

:root {
  --darkred: rgb(158, 5, 36);
  --red: #e22b3a;
  --lightred: #fd8383;
  --grey: #222222;
  --lightgrey: #2e2e2e;
  --darkgrey: rgb(22, 22, 22);
  --white: white;
  --darkwhite: #d8d8d8f2;
  --lightgreen: rgb(136, 243, 136);
  --darkgreen: green;
}

/* header */

.nav_main_div {
  width: 100%;
  height: 65px;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000000;
  transition: 0.2s;
}

.nav_main_div.nav_sticky {
  width: 100%;
  height: 70px;
  background-color: var(--red);
  border: none;
  box-shadow: 0px 6px 18px 5px var(--red);
}

.nav_left_div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_left_div img {
  height: 100%;
}

.nav_search {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_bar[type="text"] {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border: var(--red) solid 2px;
  transition: 0.2s;
  font-family: "Finger Paint", cursive;
}

.nav_bar[type="text"]:hover {
  border: var(--red) solid 4px;
}

.nav_right_div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_right_div a button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #222222;
  border: none;
  font-size: 20px;
  transition: 0.5s;
  font-weight: bolder;
}

.nav_right_div a button.nav_butn_sticky {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  transition: 0.3s;
  font-weight: bolder;
}

.nav_right_div a button.nav_butn_sticky:hover {
  background-color: white;
  color: var(--red);
  font-size: 20px;
  transition: 0.2s;
}

.nav_right_div a {
  width: 120px;
  height: 100%;
  transition: 0.5s;
}

.nav_right_div a :hover {
  color: var(--red);
  transition: 0.1s;
  cursor: pointer;
}

.nav_space {
  width: 100%;
  height: 70px;
}

/* pages */

/* main page */

.base_main_div {
  width: 100%;
  min-height: 800px;
  height: 800px;
  background-image: url(../img/Dragon\ Shushi.png);
  background-size: cover;
}

.main_left_div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main_left_upper_div {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper_txt {
  position: relative;
  top: 40px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.up_top {
  color: black;
  font-family: "Finger Paint", cursive;
  font-size: 50px;
}

.up_down {
  font-family: "Bebas Neue", cursive;
  color: red;
  text-shadow: 0px 0px 6px red;
  font-size: 90px;
}

.main_left_downer_div {
  width: 100%;
  height: 50%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downer_txt {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downer_p {
  color: black;
  font-family: "Finger Paint", cursive;
  font-size: 18px;
}

.main_right_div {
  width: 40%;
  height: 100%;
}

/* info page */

.info_main_div {
  width: 100%;
  height: 100px;
  background-image: url(../img/Dragon\ contact.png);
}

/* menu page */

.base_menu_div {
  width: 100%;
  min-height: 2350px;
  height: auto;
  background-image: url(../img/Dragon\ menu.png);
  background-size: 100%;
}

.menu_top_div {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
}
.menu_top_div p {
  color: black;
  font-size: 100px;
  font-weight: 900;
  font-family: "Finger Paint", cursive;
}

.menu_div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.menu_card_div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.card_title {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #333333e1;
  box-shadow: 0px 5px 10px 3px #252525cb;
}

.card_title p {
  color: white;
  font-size: 45px;
  font-weight: 800;
  font-family: "Finger Paint", cursive;
}

.card_items {
  width: 100%;
  height: auto;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu_item {
  width: 300px;
  height: 430px;
  margin: 10px;
  background-color: #161616de;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 15px 4px #202020;
}

.menu_item.menu_one {
  background-color: #064410db;
}

.item_picture {
  width: 95%;
  height: 150px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_picture img {
  height: 100%;
  border-radius: 15px;
}

.item_title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item_title p {
  color: white;
  font-size: 20px;
  font-weight: 900;
  font-family: "Finger Paint", cursive;
}

.item_description {
  width: 95%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_description p {
  color: white;
  font-family: "Roboto", sans-serif;
}
.item_cost {
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.item_add_butn {
  width: 120px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 30px;
  transition: 0.1s ease-in;
  font-family: "Finger Paint", cursive;
  font-size: 23px;
}

.item_add_butn:hover {
  cursor: pointer;
  background-color: rgb(41, 226, 57);
  color: white;
  transition: 0.1s;
}

.item_update_butn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background-color: rgb(23, 241, 23);
  transition: 0.2s;
}

.item_delete_butn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background-color: var(--red);
  transition: 0.2s;
}

.item_update_butn:hover {
  background-color: transparent;
  border: solid 3px rgb(23, 241, 23);
  color: white;
  transition: 0.1s;
  cursor: pointer;
}

.item_delete_butn:hover {
  background-color: transparent;
  border: solid 3px var(--red);
  color: white;
  transition: 0.1s;
  cursor: pointer;
}

/* contact page */
.base_contact_div {
  width: 100%;
  height: 1000px;
  background-image: url(../img/Dragon\ contact.png);
  background-size: 100%;
}

.contact_title_div {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
}

.contact_title_div p {
  color: black;
  font-size: 100px;
  font-weight: 900;
  font-family: "Finger Paint", cursive;
}

.contact_div {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input[type="radio"] {
  color: white;
  font-size: 20px;
  font-weight: 900;
  font-family: "Finger Paint", cursive;
}
input[type="range"] {
  width: 300px;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--red);
  border: 2.8px solid rgba(1, 1, 1, 0);
  border-radius: 13.1px;
  width: 100%;
  height: 15px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -3.5px;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border: 1.9px solid rgba(255, 0, 0, 0);
  border-radius: 33px;
  cursor: pointer;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--lightred);
}
input[type="range"]::-moz-range-track {
  background: var(--red);
  border: 2.8px solid rgba(1, 1, 1, 0);
  border-radius: 13.1px;
  width: 100%;
  height: 21.3px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1.9px solid rgba(255, 0, 0, 0);
  border-radius: 33px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0.35px 0;
  color: transparent;
  width: 100%;
  height: 21.3px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #ff0030;
  border: 2.8px solid rgba(1, 1, 1, 0);
  border-radius: 26.2px;
}
input[type="range"]::-ms-fill-upper {
  background: #ff0030;
  border: 2.8px solid rgba(1, 1, 1, 0);
  border-radius: 26.2px;
}
input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1.9px solid rgba(255, 0, 0, 0);
  border-radius: 33px;
  cursor: pointer;
  margin-top: 0px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ff0030;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ff0030;
}

input[type="email"] {
  width: 200px;
  height: 30px;
  padding: 2px;
}
.contact_t {
  color: white;
  font-size: 20px;
  font-weight: 900;
  font-family: "Finger Paint", cursive;
}
.contact_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_form {
  width: 55%;
  height: 80%;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 10px #333333;
  display: flex;
  flex-direction: column;
  background-color: #161616de;
  align-items: center;
  justify-content: space-around;
}

.contact_email {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.email_ourmail {
  display: flex;
}

.contact_message {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact_revieuw {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.revieuw_star {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.star {
  font-family: "Finger Paint", cursive;
  font-size: 23px;
  color: white;
}
input[type="submit"] {
  width: 150px;
  height: 30px;
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: white solid 1px;
  border-radius: 2px;
  transition: 0.2s;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: white;
  border: #222222;
  color: black;
  transition: 0.1s;
}

.contact_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_addnew {
  width: 80%;
  height: 80%;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 10px #333333;
  display: flex;
  flex-direction: column;
  background-color: #161616de;
  align-items: center;
  justify-content: space-around;
}

.contact_recipe {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact_ideas {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact_comments {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* footer */

.footer_hr {
  width: 150px;
}

.foot_main_div {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
}

.footer_middle_div {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.footer_list {
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  border-right: #e22b3a solid 1px;
  padding: 10px;
}

.footer_list_div {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer_logo_div {
  width: 30%;
  height: auto;
  display: flex;
}

.footer_logo_div img {
  height: 100%;
}

.footer_list li {
  background-color: transparent;
  color: white;
  padding: 5px;
  font-family: "Finger Paint", cursive;
}

.footer_list li:hover {
  color: var(--red);
  cursor: pointer;
  font-style: bold;
}

.footer_list li a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
  font-family: "Finger Paint", cursive;
}

.footer_list li a:hover {
  color: #e22b3a;
  transition: 0.1s;
}

/* login */
.login_div {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loggin_main {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loggin_txt p {
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.loggin_form {
  color: white;
  font-size: 20px;
  font-weight: 900;
  display: flex;
}

.loggin_log {
  width: 300px;
  height: 200px;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

/* backroom */

.back_nav {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000000;
  background-color: #222222;
}

.back_nav_space {
  height: 60px;
}

.back_nav a {
}

.back_nav a button {
  width: 150px;
  color: white;
  font-size: 20px;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: 0.2s ease;
}
.back_nav a button:hover {
  box-shadow: inset 300px 0 0 #e22b3a;
}

.back_add_div {
  width: 100%;
  height: 1000px;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.back_add {
  width: 80%;
  height: 100%;
  display: flex;
}

.back_list {
  width: 100%;
  height: 1000px;
}

.add_lable {
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.add_form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.add_form input[type="text"] {
  color: white;
  font-size: 25px;
  width: 300px;
  height: 40px;
  background-color: #222222;
  border: solid 3px rgb(65, 64, 64);
  border-radius: 10px;
  padding: 20px;
}
.add_select {
  color: white;
  font-size: 25px;
  width: 300px;
  height: 40px;
  background-color: #222222;
  border: solid 3px rgb(65, 64, 64);
  border-radius: 10px;
  height: 60px;
}

.add_select option {
  color: white;
}

.add_textarea {
  color: white;
  width: 600px;
  height: 200px;
  font-size: 25px;
  background-color: #222222;
  resize: none;
  border: solid 3px rgb(65, 64, 64);
  border-radius: 10px;
  padding: 20px;
}
/* update page */

.update_div {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* special */

.inviz {
  display: none;
}
/* media  */

@media only screen and (max-width: 900px) {
  .nav_bar[type="text"] {
    width: 300px;
  }

  textarea {
    width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .nav_main_div {
    width: 100%;
    height: 90px;
    justify-content: space-evenly;
  }
  .nav_left_div {
    display: none;
  }
  .nav_right_div {
    width: 90%;
  }

  .nav_right_div a {
    width: 300px;
  }

  .nav_right_div a button {
    font-size: 25px;
  }
  .nav_right_div a butto:hover {
    font-size: 25px;
  }
  .nav_right_div a button.nav_butn_sticky {
    font-size: 25px;
  }

  .nav_main_div.nav_sticky {
    width: 100%;
    height: 90px;
  }
  .up_down {
    font-size: 60px;
  }
  .footer_list {
    width: 100%;
  }
  .footer_list li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 600px) {
  .footer_list {
    width: 100px;
  }
  .footer_list li {
    font-size: 14px;
  }
  .nav_main_div {
    height: 80px;
  }
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 900px) {
}
